<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nesciunt commodi nam sint reprehenderit quos numquam ex, dolorem molestias tenetur.</p>
    </div>
</section>