<div class="jumbotron mt-4">
    <h1 class="display-4"> Radio Gest </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis suscipit aperiam cupiditate optio obcaecati,
        eaque esse necessitatibus voluptate, atque, architecto amet voluptatem eum delectus harum numquam! Id officia
        quisquam mollitia!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magni odit voluptatem, eaque libero et eum dignissimos quibusdam molestias tenetur.</p>
        {{#if user}}
        <a href="/diplomas" class="btn btn-secondary" >Diplomas</a>
        {{/if}}
</div>