{{#if msg_login}}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{msg_login}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{/if}}